<div class="navbar-bottom navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <div href="#" class="btn btn-navbar" ng-click="toggle('mainSidebar')">
            <i class="fa fa-align-justify fa-navbar"></i> 更多文章
        </div>
        <a href="#" class="btn btn-navbar">
            <i class="fa fa-home fa-navbar"></i> 最新文章
        </a>
        <a href="#" class="btn btn-navbar">
            <i class="fa fa-pencil-square-o fa-navbar"></i> 欢迎投稿
        </a>
    </div>
</div>
