<div class="navbar-top navbar navbar-app navbar-absolute-top">
    <div class="search-bar navbar-brand navbar-brand-left clickable" yield-to="title">
        <input class="input-query col-sm-10 col-lg-11" type="text" ng-model="query" placeholder="搜索文章关键字"/>
        <button class="btn-search btn btn-primary" ng-click="go('/article_search/'+query)">
            <i class="fa fa-search"></i>
          搜索
        </button>
    </div>

    <div ng-show="cur_controller('article_details')" class="btn-group pull-right">
        <div ng-click="toggle('rightSidebar')" class="btn btn-navbar sidebar-toggle">
        <i class="fa fa-bars"></i> 评论
        </div>
    </div>
</div>
