<div ng-controller="ArticleDetailsCtrl" class="full-height" ng-init="send_comments_init({{ article["id"] }})">
  <div class="scrollable">
    <div class="scrollable-content">
      <div class="article-content">
          <iframe id="article-iframe" src="/proxy/?url={{ article["url"] }}"></iframe>
      </div>

      <div class="article-info">
          <div class="stat">
              <div class="read_info">浏览 <strong>{{ article["read_count"] }}</strong></div>
              <!--<div class="comment_info">评论 <strong>0</strong></div>-->
              <div class="like_info">点赞 <strong>{{ article["like_count"] }}</strong></div>
          </div>
      </div>
    </div>
  </div>
</div>
