<div ng-controller="ArticleListCtrl" class="full-height" id="" ng-init="init('{{ day }}', '{{ query }}', {{ max_page }})">
  <div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <div ng-repeat="article in articles" class="article list-group-item" ng-click="go('/article_details/' + article.id)">
                <div class="title">{[{ article.title }]}</div>
                <div class="picture">
                    <img class="lazy" ng-src="{[{ article.picUrl }]}" />
                </div>
                <div class="profile">{[{ article.profile }]}</div>
                <div class="info">
                    <div class="author">作者：{[{ article.author }]}</div>
                    <div class="date">{[{ article.time }]}</div>
                </div>
                <div class="stat">
                    <div class="like_info">评论 <strong>{[{ article.comment_count }]}</strong></div>
                    <div class="read_info">浏览 <strong>{[{ article.read_count }]}</strong></div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="more-pages list-group-item x-center clickable" ng-show="more_pages" ng-click="loadNextPage()">点我看更多</div>
        </div>
    </div>
  </div>
</div>
