<div class="scrollable" ng-controller="InfoCtrl">
    <div class="scrollable-content">
        <div class="weixin-info content x-center">
            <div class="x-left">
                <p>
                    【并非关于吃的一切】与吃有关的情，一起来分享。
                </p>
                <p>
                    微信回复数字“1”获取：<font class="category">旅行食记</font> 系列
                </p>
                <p>
                    微信回复数字“2”获取：<font class="category">精神食粮</font> 系列
                </p>
                <p>
                    微信回复数字“3”获取：<font class="category">吃情男女</font> 系列
                </p>
                <p>
                    微信回复数字“4”获取：<font class="category">私房推荐</font> 系列
                </p>
                <p>
                    微信回复数字“5”获取：<font class="category">话题探讨</font> 系列
                </p>
                <p>
                    微信搜索：<font class="account">chilechilechile</font>
                    （谐音“吃了吃了吃了”）
                </p>
                <p>
                    新浪微博搜索：<font class="account">并非关于吃的一切</font>
                </p>
                <p>
                    欢迎直接回复微信，口述/图片投稿，分享与美食有关的情感故事。口述故事，将由微君转为文字专题，与大家分享。 
                </p>
                <p>
                    全文投稿或高清图片请发送至：<font class="email">chilovechilove@gmail.com</font>
                </p>
            </div>
            <img class="img-qr" src="/static/images/qr_code.jpg"/>
        </div>
    </div>
</div>
