body, .app{
    background-color: #f7f7f7;
}

.bubble { 
    position: absolute;
    display: table;
    padding: 10px;
}

.bubble .content {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
}

/* ---------------------------
    START: Custom vendor css;
    ------------------------ */

.navbar-bottom{
    background: #383838;
}

.navbar-top{
    background: #2e7dc6;
    color: #FFFFFF;
}

.navbar-top input{
    color: black;
}

.search-bar{
    position: absolute;
}

.navbar-app .btn.btn-search{
    line-height: initial!important;
    margin-top: -5px;
    color: white;
}

.navbar-app input.input-query{
    margin-top: -5px;
    width: 157px;
}

.navbar-bottom .btn, .navbar-bottom .btn-navbar, .navbar-bottom .btn-navbar:hover{
    color: #C0C0C0;
}

.navbar-top .btn, .navbar-top .btn-navbar, .navbar-top .btn-navbar:hover{
    color: #FFFFFF;
}

.list-group-item{
    width: 95%;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 5px!important;
}

/* -------------------------
    START: Loading ;
    ---------------------- */

.app-content-loading {
    text-align: center;
    height: 100%;
    width: 100%;
    background: #fff;
    position: relative;
}

.loading-spinner {
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

/* ----------------------------
    START: Article List;
    ----------------------- */
.info .author,
.info .date,
.info .read_more,
.stat .read_info,
.stat .like_info,
.like{
    position: relative;
    font-size: 0.4em;
}
.info .date,
.info .read_more,
.stat .read_info,
.stat .like_info,
.like{
    margin-left: 7px;
}
.info .author,
.info .date{
    float: left;
}
.stat .read_info,
.stat .like_info,
.like{
    float: right;
}
.like{
    position: relative;
    top: 7px;
    margin-left: 20px;
    cursor: pointer;
    border-radius:10px;
    -moz-border-radius:10px;
    background-color: #f40;
    padding: 2px 0 2px 0;
}
.like span{
    color: white;
    padding: 2px 5px 2px 5px;
    margin: 5px;
    font-size: 1em;
}
.read_more{
    font-size: 2em;
    padding: 5px;
    font-weight: bold;
    background-color: #2e7dc6;
    color: white;
    text-decoration: none;
}
.info .date{
    margin-left: 10px;
}
.picture img{
    width: 100%;   
}
.title{
    font-family: "Microsoft YaHei" ! important;
    font-size: 1.5em;
    font-weight: bold;
}
.profile{
    font-size: 1.2em;
    text-indent: 2em;
    line-height: 1.7em;
    padding-top: 0.3em;
}
.info, .stat{
    font-size: 25px;
    margin-top: 5px;
}

.more-pages:hover{
    /*background-color: rgb(179, 179, 179);*/
}

/* --------------------------------
    START: Article Details;
    ------------------------- */

.article-content iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.article-content{
    height: 100%;
    -webkit-overflow-scrolling:touch;
    overflow: auto;
}

/* ---------------------------------
    START: Article comment;
    ---------------------------- */

.comment-user{
    font-size: 1em;
}

.comment-time{
    color: grey;
    font-size: 1em;
}

.comment-content{
    font-size: 1.5em;
}

/* ---------------------
    START: Weixin Info;
    ------------------ */

.weixin-info{
    padding: 10px;
}
img.img-qr{
    width: 180px;
}
.category, .email{
    font-weight: bold;
    color: rgb(79, 129, 189);
}
.account{
    font-weight: bold;
    color: red;
}
