.clickable{
    cursor: pointer;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.full-height{
    height: 100%;
}

.full-width{
    width: 100%;
}


.width-50-per{
    width: 50%;
}

.x-center{
    text-align: center;
}

.x-left{
    text-align: left;
}
