<div class="tgj_header">
    <div class="navi">
        <div class="navi_item day1 {% if day == "Mon" %}cur-day{% end %}">
            <a href="/articles/list/?day=Mon&page=0">星期一<br/>旅行食记</a>
        </div>
        <div class="navi_item day2 {% if day == "Tue" %}cur-day{% end %}">
            <a href="/articles/list/?day=Tue&page=0">星期二<br/>精神食粮</a>
        </div>
        <div class="navi_item day3 {% if day == "Wed" %}cur-day{% end %}">
            <a href="/articles/list/?day=Wed&page=0">星期三<br/>吃情男女</a>
        </div>
        <div class="navi_item day4 {% if day == "Thu" %}cur-day{% end %}">
            <a href="/articles/list/?day=Thu&page=0">星期四<br/>私房推荐</a>
        </div>
        <div class="navi_item day5 {% if day == "Fri" %}cur-day{% end %}">
            <a href="/articles/list/?day=Fri&page=0">星期五<br/>话题探讨</a>
        </div>            
        <div class="navi_item all {% if day == "all" %}cur-day{% end %}">
            <a href="/articles/list/?day=all&page=0">最新<br/>文章</a>
        </div>
    </div>
    <div style="clear: both;"></div>
    {% include "_paging.html" %}
</div>
