{% extends "base.html" %}

{% block extra_head %}
<style type="text/css">
.hidden{
    display: none;   
}
.info, .stat {
    font-size: inherit;
}
.read_info, .like_info{
    float: left;
    margin-right: 15px;
    top: 0;
}
.like, .like_done{
    float: left;
    background-color: initial;
}
.like span{
    cursor: pointer;
    background-color: #2e7dc6;
    color: white;
    padding: 2px 5px 2px 5px;
    margin: 5px;
    font-size: inherit;
}
.like_done{
    color: pink;
    font-weight: bold;
}
.article-content{
    /*height: 100%;*/
    -webkit-overflow-scrolling:touch;
    overflow: auto;
}
.article-content iframe{
    width: 100%;
    height: 100%;
    border: none;
}
</style>
{% end %}

{% block content %}
<div class="article-content">
    <iframe id="article-iframe" src="/proxy/?url={{ article["url"] }}" onload="resize_iframe(this);"></iframe>
</div>

<div class="article-info">
    <div class="stat">
        <div class="read_info">浏览 <strong>{{ article["read_count"] }}</strong></div>
        <!--<div class="comment_info">评论 <strong>0</strong></div>-->
        <div class="like_info">点赞 <strong>{{ article["like_count"] }}</strong></div>
    </div>
    <div class="like">
        <span>点我赞一个</span>
    </div>
    <div class="hidden like_done">
        已赞！
    </div>
</div>
{% end %}
