<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}并非关于吃的一切{% end %}</title>
    </head>
    {% block head_style_sheets %}
        {% include "snippets/_stylesheets.html" %}
    {% end %}

    <body>
        {% block header %}
            {% include "snippets/_header.html" %}
        {% end %}

        {% block content %}{% end %}

        {% block footer %}
            {% include "snippets/_footer.html" %}
        {% end %}
    </body>
</html>
